.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 0 20px;
}

@media (max-width: 640px) {
    .header {
        padding: 15px 15px 0 15px;
    }
}
